@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');



.hide {
    display: none !important;
}


.view {
    display: flex;
    justify-content: center;

    .container {
        max-width: 1440px;
        position: relative;
        z-index: 1;


        .header {
            margin-top: 30px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo_options {
                display: flex;
                gap: 30px;


                img {

                    max-width: 100px;
                    height: auto;
                }

                .options {
                    .list_options {
                        gap: 20px;
                        display: flex;
                        list-style: none;

                        p {
                            font-family: "Kumbh Sans", sans-serif;
                            color: hsl(219, 9%, 45%);
                        }
                    }

                }

            }



            .user_market {
                display: flex;
                align-items: center;
                gap: 40px;

                .icon_market {
                    img {
                        cursor: pointer;
                    }
                }

                .icon_user {
                    img {
                        max-width: 40px;
                    }
                }

            }
        }


        .line {
            .custom_line {
                .custom-line {
                    border: none;
                    border-top: 1px solid #e0e0e0;
                    margin: 0;
                    width: 100%;
                }
            }
        }

        .mid_section {
            display: flex;
            justify-content: space-between;
            padding: 90px;
            gap: 150px;

            .shoes_img_left {
                max-width: 500px;

                .big_img {
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 10px;
                    }
                }


                .smalls_imgs {
                    margin-top: 40px;

                    .list {
                        display: flex;
                        list-style: none;
                        gap: 20px;


                        img {
                            cursor: pointer;
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;

                        }
                        img.selected{
                            border: 4px solid hsl(26, 100%, 55%);
                        }






                    }
                }
            }


            .card_right {
                max-width: 550px;
                margin-top: 50px;

                .titulo_and_company {
                    h3 {
                        font-family: "Kumbh Sans", sans-serif;
                        margin-bottom: 20px;
                        color: hsl(219, 9%, 45%);
                    }

                    h1 {
                        font-family: "Kumbh Sans", sans-serif;
                        margin-bottom: 30px;
                        color: hsl(0, 0%, 0%);
                    }
                }

                .description {
                    margin-bottom: 20px;

                    p {
                        font-family: "Kumbh Sans", sans-serif;
                        color: hsl(219, 9%, 45%);
                    }
                }


                .price {
                    .price_with_discont {
                        display: flex;
                        gap: 20px;
                        align-items: center;

                        h1 {
                            font-family: "Kumbh Sans", sans-serif;
                        }

                        h2 {
                            border: 1px solid black;
                            padding: 5px 5px;
                            border-radius: 5px;
                            background-color: black;
                            color: white;
                            font-size: 16px;
                            font-family: "Kumbh Sans", sans-serif;
                        }
                    }

                    .real_price {
                        margin-top: 10px;

                        h2 {
                            color: hsl(219, 9%, 45%);
                            font-family: "Kumbh Sans", sans-serif;
                            text-decoration: line-through;

                        }
                    }
                }

                .select_quantity {
                    display: flex;
                    gap: 20px;
                    margin-top: 30px;

                    .change_quantity {
                        display: flex;
                        gap: 20px;
                        border: 1px solid hsl(223, 64%, 98%);
                        width: 40%;
                        justify-content: center;
                        align-items: center;
                        padding: 10px 5px;
                        border-radius: 6px;
                        background-color: hsl(223, 64%, 98%);



                        button {
                            background-color: hsl(223, 64%, 98%);
                            font-family: "Kumbh Sans", sans-serif;
                            color: hsl(26, 100%, 55%);
                            font-size: 18px;
                            font-weight: bold;
                            display: grid;
                            align-items: center;
                            border: none;
                            position: relative;
                            top: -2px;
                            cursor: pointer;

                        }

                        p {
                            font-family: "Kumbh Sans", sans-serif;
                            font-weight: bold;
                        }
                    }

                }

                .add_to_cart {
                    width: 60%;
                

                    .butao {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        display: flex;
                        padding: 10px 5px;
                        border-radius: 6px;
                        gap: 10px;
                        background-color: hsl(26, 100%, 55%);
                        border: 1px solid hsl(26, 100%, 55%);


                        img {
                            filter: grayscale(100%) brightness(0);
                        }


                        p {
                            font-family: "Kumbh Sans", sans-serif;
                            display: flex;
                            align-items: center;
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .card_items1 {
            position: absolute;
            top: 95px;
            right: 0;
            max-width: 375px;
            width: 100%;
            z-index: 9999;
            background-color: white;
            border-radius: 10px;
        }

        .light_box {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }
    }

}