<div class="card_cart">

    <div class="titulo_cart">
        <p>Cart</p>
    </div>

    <div class="break_line">
        <hr>
    </div>


    <div class="cart_list" >
        <div class="empty"  [ngClass]="{'hide': !empty}">
            <p>Your cart is empty</p>
        </div>


        <div class="with_items"  [ngClass]="{'hide': empty}">

           
        <div #container>

        </div>


            <div class="confirm">
                <button class="check">
                    Checkout
                </button>
            </div>

        </div>



    </div>
</div>